#navbar {
	display: none;
}
@media (prefers-color-scheme: dark) {
	body:not(body.prefer-light) .header-outer {
		filter: brightness(80%);
	}
	body:not(body.prefer-light) .content-inner {
		background: #000;
	}
	body:not(body.prefer-light) .tabs-outer,
	body:not(body.prefer-light) .main-outer,
	body:not(body.prefer-light) .footer-outer {
		filter: invert(100%) hue-rotate(10deg) brightness(90%);
	}
	body:not(body.prefer-light) .main-outer img,
	body:not(body.prefer-light) .footer-outer img,
	body:not(body.prefer-light) .main-outer video,
	body:not(body.prefer-light) .main-outer iframe {
		filter: hue-rotate(-10deg) invert(100%);
	}
	body:not(body.prefer-light) img#Image5_img {
		filter: hue-rotate(-30deg) invert(100%);
	}
	body:not(body.prefer-light) a:link {
		filter: hue-rotate(10deg);
	}
}
@media (prefers-color-scheme: light) {
	body.prefer-dark .header-outer {
		filter: brightness(80%);
	}
	body.prefer-dark .content-inner {
		background: #000;
	}
	body.prefer-dark .tabs-outer,
	body.prefer-dark .main-outer,
	body.prefer-dark .footer-outer {
		filter: invert(100%) hue-rotate(10deg) brightness(90%);
	}
	body.prefer-dark .main-outer img,
	body.prefer-dark .footer-outer img,
	body.prefer-dark .main-outer video,
	body.prefer-dark .main-outer iframe {
		filter: hue-rotate(-10deg) invert(100%);
	}
	body.prefer-dark img#Image5_img {
		filter: hue-rotate(-30deg) invert(100%);
	}
	body.prefer-dark a:link {
		filter: hue-rotate(10deg);
	}
}
